body{
    background-color:#C7C7DD;
}
.container-fluid{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.delete-button{
    background-color: red;
    color: white;
    border-radius: 1em;
    border: none;
    padding: 5px;
    width: 100px;
   

}

.delete-button:hover{
    background-color: white;
    color: red;
    transition: 0.3ms;
    border-radius: 1em;
    border: none;
    padding: 5px;
    width: 100px;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 150%;
    margin-top: 20px;
}

.rectangle
{
    height: 100px;
    width: 50px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.rectangle:hover {
    box-shadow: 0 10px 20px black; 
    cursor: pointer;
    transition: 0.3s;
}

.students-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.submit-button{
    background-color: blueviolet;
    color: rgb(219, 192, 244);
    border-radius: 1em;
    border: none;
    padding: 5px;
    width: 100px;
}

.submit-button:hover{
    background-color: rgb(198, 167, 227);
    color: blueviolet;
    transition: 0.3ms;
    border-radius: 1em;
    border: none;
    padding: 5px;
    width: 100px;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

input{
    width: 200px;
    margin-bottom: 15px;
}


.edit-student{
    margin-top: 50px;
}