body{
    background-color:#dbd3f5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container-fluid{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-container{
    display: flex;
    flex-direction: row;
}

.delete-button{
    background-color: red;
    color: white;
    border-radius: 1em;
    border: none;
    padding: 5px;
    width: 100px;
    margin-bottom: 10px;
}

.delete-button:hover{
    background-color: white;
    color: red;
    transition: 0.3ms;
    border-radius: 1em;
    border: none;
    padding: 5px;
    width: 100px;
    margin-bottom: 10px;
}

.rectangle
{
    height: 100px;
    width: 50px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.rectangle:hover {
    box-shadow: 0 10px 20px black; 
    cursor: pointer;
    transition: 0.3s;
}

.students-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 10px;
}


.submit-button{
    background-color: blueviolet;
    color: white;
    border-radius: 1em;
    border: none;
    padding: 5px;
    width: 100px;
}

.submit-button:hover{
    background-color: rgb(198, 167, 227);
    color: blueviolet;
    transition: 0.3ms;
    border-radius: 1em;
    border: none;
    padding: 5px;
    width: 100px;
}

.add-student{
    width: 600px;
    display: flex;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

input{
    width: 200px;
    margin-bottom: 15px;
}


.edit-student{
    margin-top: 10px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 10px;
}

#back-button{
    margin: 20px;
}