<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
       <link rel="stylesheet" th:href="@{/styles.css}">
       <script th:src="@{/script.js}"></script>
    <body>
        <main class="container-fluid">
            <div class="students-container">
                <div th:each="students: ${st}" th:style="'width:' +(${students.weight}/3)+ 'px;' +'height:' +(${students.height}*2)+ 'px'" class="rectangle">
                </div>
            </div>
        </main>
    </body>
</html>
