<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
       <link rel="stylesheet" th:href="@{/styles.css}">
       <script th:src="@{/script.js}"></script>
    <body>
        <main class="container-fluid">
            <h1>Students</h1>
            <a href="../add.html"><button>Add Student</button></a>
            <div class="students-container">
                <div th:each="students: ${st}" th:style="'width:' +(${students.weight})+ 'px;' +'height:' +(${students.height}*2)+ 'px;' +' border: solid 3px '+${students.hair} +';'" 
                 class="rectangle" th:id="${students.pid}"
                 th:onclick="selectStudent([[${students.name}]], [[${students.weight}]],[[${students.hair}]], [[${students.gpa}]], [[${students.height}]],[[${students.pid}]])">
                    <p th:text="${students.name}" style="color: black; margin: 5px;"></p><br>
                    <p th:text="${students.gpa}" style="color: black; margin: 5px;"></p>
                    <p th:text="${students.hair}" style="color: black; margin: 5px;"></p>
                </div>
            </div>
            <section class="edit-student">
                <form class="form" id="edit-student-form">
                    <h2>Delete Student</h2>
                    <input type="text" name="pid" id="pid">
                    <input type="text" id="nameInput" name="name" placeholder="NAME">
                    <input type="text" id="heightInput" name="height" placeholder="HEIGHT">
                    <input type="text" id="weightInput" name="weight" placeholder="WEIGHT">
                    <input type="text" id="gpaInput" name="gpa" placeholder="GPA">
                    <input type="text" id="hairInput" name="hair" placeholder="HAIR COLOR">
                    <div class="buttons-container">
                        <button id="submit-button" class="submit-button"  type="submit" value="SEND">Submit Changes</button>
                    </div>
                </form>
                <button class="delete-button" onclick="deleteStudent()">Delete Student</button>
            </section>
        </main>
    </body>
</html>
